@model DeliveryApp.Models.Restaurants

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurants</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kitchen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kitchen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.spec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.spec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.string_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.string_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
